.imagediv{
    
}

.hover-parent:hover {
    background-color: rgba($color: #000, $alpha: 0.75);
    .hover-children {
        display: block;
        color: #ddd;
        font-size: .9em;
    
    }
}
.hover-children{
    display: none;
    
}

