.body-modal {
    background-color: rgba(0, 0, 0, 0.82);
    width: 60%;
	height: 40%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	font-size: 1.5em;
	text-align: center;
}

#modal {
    z-index: 1;
	background:rgba(#000,.75);
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
}


.main-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.checkbox-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	overflow: auto;
    height: 80%;
	padding-right: 2em;
}

.checkbox-wrapper {
	position: relative;
	padding-left: 35px;
	cursor: pointer;
	user-select: none;
	font-size: 18px;
}

.checkbox-wrapper input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.custom-checkbox {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
	border-radius: 5px;
}

.checkbox-wrapper input:checked ~ .custom-checkbox {
	background-color: #2196F3;
	border: 2px solid #0056b3;
}

.checkbox-wrapper input:checked ~ .custom-checkbox:after {
	display: block;
}

.checkbox-wrapper .custom-checkbox:after {
	content: "";
	position: absolute;
	display: none;
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
}

.checkbox-wrapper.primary input:checked ~ .custom-checkbox {
	background-color: #2196F3;
	border: 2px solid #0056b3;
}

.checkbox-wrapper.secondary input:checked ~ .custom-checkbox {
	background-color: #f44336;
	border: 2px solid #ba000d;
}

.checkbox-wrapper.success input:checked ~ .custom-checkbox {
	background-color: #4CAF50;
	border: 2px solid #087f23;
}

.checkbox-wrapper.warning input:checked ~ .custom-checkbox {
	background-color: #FFEB3B;
	border: 2px solid #c8b900;
}

.close-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	background: #f44336;
	border: none;
	border-radius: 10%;
	font-size: 2.5rem;
	cursor: pointer;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	transition: background 0.3s ease;
}

.close-btn:hover {
	background: #d32f2f;
}