.register-button {
	width: 20%;
    margin: auto;
	// background-color: rgb(185 28 28 / var(--tw-bg-opacity));
}
.body-modal-login {
    background-color: rgba(0, 0, 0, 0.82);
    width: 60%;
	height: 80%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	font-size: 1.5em;
	text-align: center;
}

#modal {
    z-index: 1;
	background:rgba(#000,.75);
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
}

.form-container {
	width: 100%;
	max-width: 400px;
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
	text-align: center;
	margin-bottom: 20px;
}

.form-group {
	margin-bottom: 15px;
}

.form-group label {
	display: block;
	margin-bottom: 5px;
}

.form-group input {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-sizing: border-box;
}

.form-group button {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
}

.form-group button.primary {
	background-color: #2196F3;
}

.form-group button.secondary {
	background-color: #f44336;
}

.form-group button.success {
	background-color: #4CAF50;
}

.form-group button.warning {
	background-color: #FFEB3B;
	color: #000;
}

.toggle-link {
	text-align: center;
	margin-top: 10px;
}

.toggle-link a {
	cursor: pointer;
	color: #2196F3;
}
.close-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	background: #f44336;
	border: none;
	border-radius: 10%;
	font-size: 2.5rem;
	cursor: pointer;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	transition: background 0.3s ease;
}

.close-btn:hover {
	background: #d32f2f;
}